In [1]:
import DeeperTradeLibrary

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('SPX500_USD_D_260919.csv')

In [4]:
df.set_index('time', inplace=True)

In [5]:
df.head()

                            open   high    low  close  volume
time
2003-03-23 22:00:00+00:00  882.7  883.2  861.9  864.4     823
2003-03-24 22:00:00+00:00  863.4  880.4  857.6  874.2     815
2003-03-25 22:00:00+00:00  874.4  876.7  866.6  869.6     791
2003-03-26 22:00:00+00:00  867.6  874.9  858.1  868.9     770
2003-03-27 22:00:00+00:00  870.1  870.4  860.8  863.9     787

In [6]:
DeeperTradeLibrary.Indicators.addAllTechnicalIndicators(df)

/home/charles/.local/lib/python3.6/site-packages/ta/trend.py:543: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (self._dip[i]/self._trs[i])
/home/charles/.local/lib/python3.6/site-packages/ta/trend.py:547: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (self._din[i]/self._trs[i])

,open,high,low,close,volume,volume_adi,volume_obv,volume_cmf,volume_fi,volume_em,...,momentum_roc,others_dr,others_dlr,others_cr,ao,apo,bop,cg,fwma,kurtosis
time,,,,,,,,,,,,,,,,,,,,,
2003-03-23 22:00:00+00:00,882.7,883.2,861.9,864.4,823,-6.298075e+02,823,-0.765258,NaN,NaN,...,NaN,-46.869159,NaN,0.000000,NaN,NaN,-0.859155,NaN,NaN,NaN
2003-03-24 22:00:00+00:00,863.4,880.4,857.6,874.2,815,-2.580531e+02,1638,-0.157542,NaN,-9.931288e+06,...,NaN,1.133734,1.127356,1.133734,NaN,NaN,0.473684,NaN,NaN,NaN
2003-03-25 22:00:00+00:00,874.4,876.7,866.6,869.6,791,-5.791521e+02,847,-0.238432,NaN,3.383692e+06,...,NaN,-0.526195,-0.527585,0.601573,NaN,NaN,-0.475248,NaN,NaN,NaN
2003-03-26 22:00:00+00:00,867.6,874.9,858.1,868.9,770,-3.591521e+02,77,-0.112270,NaN,-1.123636e+07,...,NaN,-0.080497,-0.080529,0.520592,NaN,NaN,0.077381,NaN,NaN,NaN
2003-03-27 22:00:00+00:00,870.1,870.4,860.8,863.9,787,-6.378813e+02,-710,-0.160030,NaN,-1.097840e+06,...,NaN,-0.575440,-0.577102,-0.057844,0.000000,NaN,-0.645833,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-19 21:00:00+00:00,3004.6,3015.2,2982.8,2986.8,10461,5.126147e+06,1941089,0.273869,1656.662967,-1.951247e+06,...,1.688683,-0.618886,-0.620809,245.534475,72.020000,23.007047,-0.549383,-5.495474,2998.062937,-1.292313
2019-09-22 21:00:00+00:00,2999.6,3005.6,2979.6,2998.8,8852,5.130369e+06,1949941,0.204075,16594.853971,-1.879801e+06,...,0.990099,0.401768,0.400963,246.922721,67.217647,22.354169,-0.030769,-5.498900,2998.374825,-1.252235
2019-09-23 21:00:00+00:00,3000.2,3009.8,2956.2,2969.4,16553,5.121969e+06,1933388,0.222192,-55298.439453,-3.108560e+06,...,-0.429213,-0.980392,-0.985230,243.521518,60.243529,19.242608,-0.574627,-5.507432,2987.318881,-1.257705
2019-09-24 21:00:00+00:00,2968.4,2989.2,2951.4,2983.8,13227,5.131417e+06,1946615,0.218312,-20188.833817,-3.629394e+06,...,0.161128,0.484946,0.483774,245.187413,53.466471,17.734204,0.407407,-5.509241,2985.928671,-1.303515
2019-09-25 21:00:00+00:00,2983.6,2992.8,2976.2,2989.4,2319,5.132786e+06,1948934,0.185739,-15449.514700,1.016473e+07,...,0.355848,0.187680,0.187504,245.835261,47.244706,16.797031,0.349398,-5.508503,2987.216783,-1.265503